
.Equipe-button {
    padding:6px 0 6px 0;
      font:bold 13px Arial;
      background:#478bf9;
      color:#fff;
    width:100px;
    border-Radius:2px;
      border:none;
  }

button.cross {
    margin-left: 55px;
  }

div.verticalyCenter {
        position:absolute;
        top:50%;
        left:25%;
        padding:15px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);  
}

.colored{
    background-color: rgba(119, 243, 212, 0.884);
}

.uncolored{
    background-color: rgb(255, 255, 255);
}

.onTheRight{
    position:absolute;
    top:50%;
    left:220%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);  
}
